// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Set up Site Load
--------------------------------------------------------------*/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}




#page {
	opacity: 0;
	background: $color_beige;
	font: 14px $font_poiret;
	letter-spacing: 0.05em;
}
#content {
	padding-bottom: 150px;
}

#site-navigation {
    width: 80%;
  	margin: 0 20px;
  	ul {
  		float: right;
  		margin-top: 50px;
  		li {
  			cursor: pointer;
  			text-transform: uppercase;
  		}
  		li:hover {
  			color: $color_dark-brown;
  		}
  	}
}

// .wrap{display: flex; flex-flow: wrap;}
.information{
	width: 30%;
	height: auto;
	float: left;
	padding: 40px 93px;
	margin-left: 20px;
	border: 1px solid $color_pink;

	div{
		width: 100%;
		background: white;
		padding: 20px;
		height: 420px;
		overflow: scroll;
	}
	h1{
		padding: 15px 0px;
		text-align: center;
		text-transform: uppercase;
		font: 600 18px $font_amiri;
		letter-spacing: 0.05em;
		margin-top: 0;
	}
	ul{
		padding-left: 0px;
		list-style: none;
		margin-left: 0;
	}
	li{
		padding-bottom: 15px;
		font-size: 15px;
		cursor: pointer;
	}
	li:hover {
		background: url('img/step-order-arrows.png') right no-repeat;
	}
	.current-dance {
		height: 200px;
		width: 100%;
		// background: url('img/Move1.gif') center no-repeat;
		background: black;
		margin: 60px auto 20px;
		cursor: pointer;
	}
}

.stepWrap{width: calc(70% - 20px);}

.step{
	height: 200px;
	width: 150px;
	background-color: blue;
	margin: 20px 60px;
	background: url('img/dancing-bg.png') 50% 50% / 100% no-repeat;
    box-shadow: 3px 3px 10px #888888;

	div{
		transition: opacity 0.45s ease;
		cursor: pointer;
	}
	div:nth-child(even){
		height: 40%;
		width: 100%;
		// background: red;
		opacity: 0;
		background: rgba(0, 0, 0, 0.25) url('img/info.svg') 50% 50% / 20% no-repeat;
	}
	div:nth-child(odd){
		height: 60%;
		width: 100%;
		background: rgba(0, 0, 0, 0.25);
		opacity: 0;
		position: relative;
	}
	div:nth-child(odd):before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		transform: rotate(45deg);
		background: url('img/add-circle.svg') 50% 50% / 20% no-repeat;
	}
	div:hover{opacity: 1;}
}
// .step:hover{
// 	background: url('img/dancing.gif') 50% 50% / 100% no-repeat;
// }
.step-01 {
	background: url('img/Move1.jpg') center no-repeat;
	background-size: cover;
}
.step-02 {
	background: url('img/Move2.jpg') center no-repeat;
	background-size: cover;
}
.step-03 {
	background: url('img/Move3.jpg') center no-repeat;
	background-size: cover;
}
.step-04 {
	background: url('img/Move4.jpg') center no-repeat;
	background-size: cover;
}
.step-05 {
	background: url('img/Move5.jpg') center no-repeat;
	background-size: cover;
}
.step-06 {
	background: url('img/Move6.jpg') center no-repeat;
	background-size: cover;
}
.step-07 {
	background: url('img/Move7.jpg') center no-repeat;
	background-size: cover;
}
.step-08 {
	background: url('img/Move8.jpg') center no-repeat;
	background-size: cover;
}
.step-09 {
	background: url('img/Move9.jpg') center no-repeat;
	background-size: cover;
}
.step-01:hover{
	background: url('img/Move1.gif') 50% 50% / 100% no-repeat;
	background-size: cover;
}
.step-02:hover{
	background: url('img/Move2.gif') 50% 50% / 100% no-repeat;
	background-size: cover;
}
.step-03:hover{
	background: url('img/Move3.gif') 50% 50% / 100% no-repeat;
	background-size: cover;
}
.step-04:hover{
	background: url('img/Move4.gif') 50% 50% / 100% no-repeat;
	background-size: cover;
}
.step-05:hover{
	background: url('img/Move5.gif') 50% 50% / 100% no-repeat;
	background-size: cover;
}
.step-06:hover{
	background: url('img/Move6.gif') 50% 50% / 100% no-repeat;
	background-size: cover;
}
.step-07:hover{
	background: url('img/Move7.gif') 50% 50% / 100% no-repeat;
	background-size: cover;
}
.step-08:hover{
	background: url('img/Move8.gif') 50% 50% / 100% no-repeat;
	background-size: cover;
}
.step-09:hover{
	background: url('img/Move9.gif') 50% 50% / 100% no-repeat;
	background-size: cover;
}
.step:nth-child(2){
	// background: green;
}

.slick-slide{
	display: inline-block;
	outline: none;
}
.slick-slider{
	overflow: hidden;
	display: block;
	float: right;
}
.prevArrow, .nextArrow {
	height: 50px;
	width: 40px;
	position: absolute;
	background: url('img/right-arrow.png') center no-repeat;
	cursor: pointer;
	z-index: 2;
}
.prevArrow {
	margin-top: 210px;
	transform: rotate(180deg);
}
.nextArrow {
	margin-top: -256px;
	right: 0;
}

.video-bar {
	width: calc(50% - 20px);
	margin-left: 40%;
	margin-right: 10%;
	height: 125px;
	background: $color_light-brown;
	float: right;
	margin-top: -215px;
	position: relative;

	h1 {
		color: white;
		position: absolute;
		top: -5px;
		font-size: 18px;
		text-align: center;
		right: 0;
		left: 0;
		font: 400 18px $font_amiri;
		letter-spacing: 0.05em;
	}
	h5 {
		width: 150px;
	    display: inline-block;
	    position: absolute;
	    bottom: -5px;
	    color: white;
	    cursor: pointer;
	    transition: all 0.2s ease;
	}
	h5:hover {
		color: rgba(0, 0, 0, 0.9);
	}
	.reset {
		right: 60px;
	}
	.share {
		left: 155px;
	}
	.progress-wrap {
		width: 80%;
		margin: 40px auto;
		height: 45px;
		background: white;
		.progress {
			height: 100%;
			width: 0%;
			background: $color_dark-brown;
			max-width: 100%;
		}
	}
}

.lightBox{
	height: 100vh;
	width: 100vw;
	z-index: 2;
	background-color: rgba(0,0,0, 0.5);
	position: absolute;
	top: 0;

	div{
		height: 600px;
		width: 900px;
		background: white;
		margin-top: calc(50% - 600px);
		margin-left: calc(50% - 450px);
		position: absolute;

		div{
			margin-top: 0px;
			width: 400px;
			display: inline-block;
			text-align: center;
			p{
				width: 90%;
				margin: 0 auto;
			}
			span {
				font-weight: 600;
			}
			h4 {
				width: 50%;
				display: inline;
				vertical-align: top;
			}
			h5 {
				width: 50%;
				display: inline-block;
				margin: 0 auto 20px;
			}
			hr {
				width: 80%;
				margin: 20px auto;
			}
		}
	}
	.video{
		width: 500px; 
		display: inline-block;
		position: absolute;
		right: 0;
		background: url('img/Move1.gif') center no-repeat;
		background-size: cover;
	}
}

.complete-demo {
	height: 10px;
	width: 10px;
	background: red;
	position: absolute;
	bottom: -94px;
	right: 20px;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";